aiofiles
aiohttp
aiosignal
altgraph
async-timeout
attrs
beautifulsoup4
bencoding
certifi
charset-normalizer
frozenlist
future
idna
jikanpy
jsonapi-client>=0.9.10
jsonschema
multidict
mysql-connector
pefile
Pillow
requests
pypresence
pyrsistent
ffpyplayer
python-Levenshtein
python-mpv
python-vlc
pytube
pywin32-ctypes
qbittorrent-api
requests
simplejson
six
soupsieve
thefuzz
transmission_rpc
urllib3
yarl
pytest-timeout
lxml
# Security testing tools
bandit
safety
semgrep
# Code quality tools
flake8
mypy
black
isort
# Documentation testing
sphinx
sphinx-rtd-theme
# Performance testing
pytest-benchmark
# Test reporting
pytest-html
pytest-cov
pytest-xdist