aiohttp
aiosignal
altgraph
async-timeout
attrs
beautifulsoup4
bencoding
certifi
charset-normalizer
frozenlist
future
idna
jikanpy
jsonapi-client
jsonschema
multidict
pefile
Pillow
pypresence
pyrsistent
python-mpv
python-vlc
pytube
pywin32-ctypes
qbittorrent-api
requests
simplejson
six
soupsieve
thefuzz
urllib3
yarl
transmission_rpc
python-Levenshtein
mysql-connector